{
  "presets": [
    [
      "env",
      {
        "targets": {
          "ie": 11
        }
      }
    ],
    "react"
  ],
  "plugins": [
       "transform-class-properties",
       "transform-object-rest-spread"
   ]
}
