@font-face {
  font-family: Audiowide-Regular;
  src: url(Audiowide-Regular.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  font-family: 'Fjalla One', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* App styles -> */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app, #app>div:first-child {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  position: absolute;
  z-index: 99;
}

img {
  max-width: 100%;
  position: absolute;
}

canvas {
  position: absolute;
}

.bg {
  background: url('../images/space2.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.banner {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Audiowide-Regular', 'Arial';
  color: #fff;
  font-size: 15vw;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  text-shadow: 0.3rem 0.3rem 5rem #fff;
  animation-name: title_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes title_anim {
  0% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}

.arc {
  width: 810px;
  height: 420px;
  background: transparent;
  position: fixed;
  transform: rotate(30deg);
  left: 37%;
  top: 11%;
  border-right: 100px solid #ffff;
  border-bottom: 100px solid #ffff;
  border-radius: 54%;
  z-index: 1;
  opacity: 0.3;
  animation-name: arc_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes arc_anim {
  0% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}

.menu {
  background: rgba(255,255,255,1);
  position: fixed;
  z-index: 9999;
  transform: rotate(-40deg);
  left: -15vw;
  top: 0;
  width: 70%;
  height: 6vw;
  animation-name: menu_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes menu_anim {
  0% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}

.menu .menu_btn {
  background: transparent;
  position: absolute;
  width: 6vw;
  height: 6vw;
  transform: rotate(40deg);
  cursor: pointer;
  font-family: 'Audiowide-Regular', 'Arial';
  text-align: center;
  line-height: 5.5vw;
  font-size: 3vw;
}

.menu .menu_btn .circle {
  width: 5vw;
  height: 5vw;
  background: #2b0167;
  border: 2px solid #2b0167;
  color: #fff;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0,0,0,1);
  transition: none;
}

.menu .menu_btn .circle:hover {
  background: #fff;
  color: #2b0167;
  border-left: 0;
  border-top: 0;
  box-shadow: 0rem 0rem 2rem #000;
  width: 30vw;
  border-radius: 50px 0;
  transition: box-shadow,width 0.1s ease-in;
  animation-name: menu_btn_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes menu_btn_anim {
  0% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}

.menu .menu_btn .circle span {
  padding-left: 1vw;
}

.menu .menu_btn.new_game {
  top: 0.4vw;
  left: 29vw;
}

.menu .menu_btn.extra {
  top: 0.4vw;
  left: 20.5vw;
}

.menu .menu_btn.quit {
  top: 0.4vw;
  left: 11.5vw;
}

.menu .menu_btn.music {
  right: -25vw;
  top: 50vw;
  font-size: 1.5vw;
  line-height: 2vw;
  color: #775da2;
}

.menu .menu_btn.music:hover {
  transition: box-shadow,width 0.1s ease-in;
  animation-name: play_music_btn_anim;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes play_music_btn_anim {
  0% { text-shadow: 0rem 0rem 0.2rem rgba(255,255,255,0.7); }
  50% { text-shadow: 0rem 0rem 0.2rem rgba(255,255,255,0.2); }
  100% { text-shadow: 0rem 0rem 0.2rem rgba(255,255,255,0.7); }
}
