@font-face {
  font-family: Audiowide-Regular;
  src: url(Audiowide-Regular.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  font-size: 62.5% !important;
}
body {
  line-height: 1;
  font-family: 'Fjalla One', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* App styles -> */
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Audiowide-Regular', 'Arial';
}

#app, #app>div:first-child {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

header {
  position: absolute;
  z-index: 99;
}

img {
  max-width: 100%;
  position: absolute;
}

canvas {
  position: absolute;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px; /* must be fixed */
  background: url('../images/space2.jpg');
}

.loading .loader {
  margin: auto auto;
  position: absolute;
}

.game .bg {
  background: url('../images/space2.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.game .bg.space1, .loading.space1 {
  background: url('../images/space1.jpg') !important;
}

.game .bg.space2, .loading.space2 {
  background: url('../images/space2.jpg') !important;
}

.banner {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Audiowide-Regular', 'Arial';
  color: #fff;
  font-size: 15vw;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  text-shadow: 0.3rem 0.3rem 5rem #fff;
  animation-name: title_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes title_anim {
  0% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}

.arc {
  width: 810px;
  height: 420px;
  background: transparent;
  position: fixed;
  transform: rotate(30deg);
  left: 37%;
  top: 11%;
  border-right: 100px solid #ffff;
  border-bottom: 100px solid #ffff;
  border-radius: 54%;
  z-index: 1;
  opacity: 0.3;
  animation-name: arc_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes arc_anim {
  0% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}

.main_menu_wrapper {
  position: fixed;
  z-index: 9999;
}

.menu {
  background: rgba(255,255,255,1);
  position: fixed;
  z-index: 9999;
  transform: rotate(-40deg);
  left: -15vw;
  top: 0;
  width: 70%;
  height: 6vw;
  animation-name: menu_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@media screen and (max-width: 1280px) {
  .menu {
    height: 6.1vw;
  }
}

@media screen and (max-width: 1000px) {
  .menu {
    height: 6.3vw;
  }
}

@media screen and (max-width: 1000px) {
  .menu {
    height: 6.6vw;
  }
}

@keyframes menu_anim {
  0% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}

.menu .menu_btn {
  background: transparent;
  position: absolute;
  width: 6vw;
  height: 6vw;
  transform: rotate(40deg);
  cursor: pointer;
  font-family: 'Audiowide-Regular', 'Arial';
  text-align: center;
  line-height: 5.5vw;
  font-size: 3vw;
}

.menu .menu_btn .circle {
  width: 5vw;
  height: 5vw;
  background: #2b0167;
  border: 2px solid #2b0167;
  color: #fff;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0,0,0,1);
  transition: none;
}

.menu .menu_btn .circle:hover {
  background: #fff;
  color: #2b0167;
  border-left: 0;
  border-top: 0;
  box-shadow: 0rem 0rem 2rem #000;
  width: 30vw;
  border-radius: 50px 0;
  transition: box-shadow,width 0.1s ease-in;
  animation-name: menu_btn_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes menu_btn_anim {
  0% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { box-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}

.menu .menu_btn .circle span {
  padding-left: 1vw;
}

.menu .menu_btn.new_game {
  top: 0.4vw;
  left: 29vw;
}

.menu .menu_btn.extra {
  top: 0.4vw;
  left: 20.5vw;
}

.menu .menu_btn.quit {
  top: 0.4vw;
  left: 11.5vw;
}

.menu .menu_btn.music {
  right: -25vw;
  top: 50vw;
  font-size: 1.5vw;
  line-height: 2vw;
  color: #775da2;
}

.menu .menu_btn.music:hover {
  transition: box-shadow,width 0.1s ease-in;
  animation-name: extra_menu_btn_anim;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.menu .menu_btn.fullscreen {
  right: -18vw;
  top: 44.1vw;
  font-size: 1.5vw;
  line-height: 2vw;
  color: #775da2;
}

.menu .menu_btn.fullscreen:hover {
  transition: box-shadow,width 0.1s ease-in;
  animation-name: extra_menu_btn_anim;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes extra_menu_btn_anim {
  0% { text-shadow: 0rem 0rem 0.2rem rgba(255,255,255,0.7); }
  50% { text-shadow: 0rem 0rem 0.2rem rgba(255,255,255,0.2); }
  100% { text-shadow: 0rem 0rem 0.2rem rgba(255,255,255,0.7); }
}

.extra_sub_menu {
  left: 0;
  width: 100%;
  height: 30%;
  background: transparent;
  position: fixed;
  bottom: 0;
}

.extra_sub_menu .padding {
  height: 95%;
  padding: 2.5% 7% 2.5% 2.5%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.extra_sub_menu .bg {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: absolute;
  opacity: 0.4;
}

.extra_sub_menu .extra_close_btn {
  right: 0;
  top: 10px;
  right: 1vw;
  top: 1vw;
  font-size: 1.5vw;
  color: #fff;
  position: absolute;
  cursor: pointer;
}

.extra_sub_menu .extra_close_btn:hover {
  color: #290469;
}

.extra_sub_menu .extra_bg_options, .extra_sub_menu .extra_performance_options {
  flex: 2;
  height: 70%;
  padding: 0 0.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.extra_sub_menu .extra_bg_options .bg_selection_title {
  padding-bottom: 0.5vw;
  display: inline-block;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.8vw;
  color: #fff;
  font-size: 1.5vw;
  width: 100%;
  order: 1;
  flex-grow: 3;
}

.extra_sub_menu .extra_bg_options .bg_option {
  margin: 0 auto;
  flex-grow: 1;
  padding: 0 10% 0 0;
  width: 15%;
}

.extra_sub_menu .extra_bg_options .bg_option.selected img {
  border: 0.3vw solid #ffffff;
}

.extra_sub_menu .extra_bg_options .default_bg {
  order: 2;
}

.extra_sub_menu .extra_bg_options .extra_bg {
  order: 3;
}

.extra_sub_menu .extra_bg_options .default_bg img, .extra_sub_menu .extra_bg_options .extra_bg img {
  border-radius: 1.5vw;
  border: 0.3vw solid #545454;
  position: initial;
}

.extra_sub_menu .extra_bg_options .default_bg:hover img, .extra_sub_menu .extra_bg_options .extra_bg:hover img {
  cursor: pointer;
  border: 0.3vw solid #ffffff;
}

.extra_sub_menu .extra_performance_options .performance_selection_title {
  padding-bottom: 0.5vw;
  display: inline-block;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.8vw;
  color: #fff;
  font-size: 1.5vw;
  width: 100%;
  order: 1;
  flex-grow: 3;
}

.extra_sub_menu .extra_performance_options {
  flex: 1;
}

.extra_sub_menu .extra_performance_options .toggle_wrapper {
  order: 2;
  padding-top: 0.5vw;
  display: flex;
}

.extra_sub_menu .bg_scroll_toggle_label {
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 0.7vw;
  padding-left: 0.5vw;
  margin: auto auto;
}

@media screen and (max-width: 700px) {
  .extra_sub_menu .bg_scroll_toggle_label {
    font-size: 7px;
  }
}

.extra_sub_menu .extra_info {
  flex: 2;
}

.extra_sub_menu .extra_info .info_selection_title {
  padding-bottom: 0.5vw;
  display: inline-block;
  border-bottom: 1px solid #fff;
  margin-bottom: 0.8vw;
  color: #fff;
  font-size: 1.5vw;
  width: 100%;
  order: 1;
  flex-grow: 3;
}

.extra_sub_menu .extra_info p {
  color: #fff;
  font-size: 0.8vw;
}

@media screen and (max-width: 800px) {
  .extra_sub_menu .extra_info p {
    font-size: 7px; /* must be fixed */
  }
}

.extra_sub_menu .extra_info a {
  color: #000;
  display: block;
  padding: 1vw 1vw 1vw 0;
  font-size: 1vw;
}

.extra_sub_menu .extra_info a:hover {
  color: #545454;
}

/* extra sub menu anim */
.slide-enter { bottom: -35%; }
.extra_sub_menu.slide-enter.slide-enter-active {
  bottom: 0;
  transition: all 0.5s ease-out;
}
.extra_sub_menu.slide-leave {
  bottom: 0;
}
.extra_sub_menu.slide-leave.slide-leave-active {
  bottom: -35%;
  transition: all 0.5s ease-out;
}


/* Loader incon */

@keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-eclipse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-eclipse {
  position: relative;
}
.lds-eclipse div {
  position: absolute;
  -webkit-animation: lds-eclipse 1s linear infinite;
  animation: lds-eclipse 1s linear infinite;
  width: 200px;
  height: 200px;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  box-shadow: 0 12px 0 0 #00baff;
  -webkit-transform-origin: 100px 106px;
  transform-origin: 100px 106px;
}
.lds-eclipse {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}

/* react-toggle npm-module css */

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}

/* GAME Debugging related */

.debugFPS {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99999;
  background: #fff;
  font-size: 20px;
}
