@font-face {
  font-family: Audiowide-Regular;
  src: url(Audiowide-Regular.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  font-size: 62.5%;
}
body {
  line-height: 1;
  font-family: 'Fjalla One', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* App styles -> */
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
  position: absolute;
  z-index: 99;
}

img {
  max-width: 100%;
  position: absolute;
}

canvas {
  position: absolute;
}

.bg {
  background: url('../images/space1.jpg');
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
}

.title {
  font-family: 'Audiowide-Regular', 'Arial';
  color: #fff;
  font-size: 15vw;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 30%;
  text-shadow: 0.3rem 0.3rem 5rem #fff;
  animation-name: title_anim;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes title_anim {
  0% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
  50% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,0.2); }
  100% { text-shadow: 0.3rem 0.3rem 5rem rgba(255,255,255,1); }
}
